<body id="filters">

<header>
    <div class="container">
    <nav>
        <ul>
        <li><a href="/" class="profile-button"><img src="/images/icons/left-arrow.svg" alt="back"></a></li>
        <li><a href="/" class="logo"><img src="/images/icons/logo.svg" alt="logo"></a></li>
        <!--<li><button  class="filter-button"></button></li>-->
        <li>
            <a href="#filters"  class="filter-button show-filter"></a>
            <button type="submit" form="filter"  class="filter-button-close hide-filter">Done</button>
        </li>
        </ul>
    </nav>
    </div>
</header>



<form id="filter" action="?" method="get" >
   <div class="formInner">
       <h1 class="page-title">Filter</h1>

           <% if (users.length >= 2) { %>
               <span class="search-results">
                   <span class="results-count"><%= users.length %></span>  matches found
               </span>
           <% }else { %>
               <span class="search-results">
                   <span class="results-count"><%= users.length %></span>  match found
               </span>
           <% } %>



    <div class="option">
        <h2>Skill Level</h2>
        <span class="output skill">Intermediate</span>
        <input type="range" name="skilLevel" min="1" max="4" value="4" class="slider filtering" id="skill">
        <hr>
    </div>

    <div class="option">
        <h2>Age Difference</h2>
        <span class="output age">20 - 25</span>
        <input type="range" name="ageRange" min="0" max="50" value="3" class="slider filtering" id="age">
        <hr>
    </div>

    <div class="option">
        <h2>Max Distance</h2>
        <span class="output distance">35</span>
        <input type="range" name="maxDistance" min="0" max="50" value="15" class="slider filtering" id="distance">
        <hr>
    </div>

    <div class="option-radio">
        <h2>Running Scheme</h2>
        <label class="container-radio radio1">1x per month
            <input type="radio" class="runningScheme filtering" name="runningScheme" value="0" checked="checked">
            <span class="checkmark"></span>
        </label>
        <label class="container-radio radio2">2/3x per week
            <input type="radio" class="runningScheme filtering" name="runningScheme" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container-radio radio3">1x per week
            <input type="radio"  class="runningScheme filtering" name="runningScheme" value="2">
            <span class="checkmark"></span>
        </label>
        <hr>
    </div>

    <div class="option-checkbox">
        <h2>Practice Time</h2>
        <label class="container-radio checkbox1">morning
            <input type="radio"  class="practiceTime filtering" name="practiceTime" checked="checked" value="0">
            <span class="checkmark"></span>
        </label>
        <label class="container-radio checkbox2">afternoon
            <input type="radio"  class="practiceTime filtering" name="practiceTime" value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container-radio checkbox3">evening
            <input type="radio" class="practiceTime filtering" name="practiceTime" value="2">
            <span class="checkmark"></span>
        </label>
        <hr>
    </div>
   </div>
</form>
 <!--end filter -->

<main>

    <h1 class="page-title"><%= title%></h1>
    <% if (users) { %>
        <% if (filter == true) { %>
            <% if (users.length > 1 || users.length == 0) { %>
                <span class="search-results"><%= users.length %> matches found</span>
            <% }else { %>
                <span class="search-results"><%= users.length %>  match found</span>
            <% } %>
        <% }else{%>

            <% if (users.length >1) { %>
                 <span class="search-results">You have got <%= users.length%> matches</span>
            <% }else{%>
                <span class="search-results">You have got <%= users.length%> match </span>
            <% } %>
        <% } %>
        <section id="matches">

           <% for(var user of users) { %>
            <a href="">
                <div class="img-holder">
                   <img alt="profile-image" src="/images/<%= user.avatar%>"/>
                </div>
                <span class="small-name-plate"><%= user.first_name%>, <span class="age"><%= user.age%></span></span>
                <div class="about">
                    <div class="container">
                        <h2>Match since</h2>
                        <p><%= moment(user.match_date).format('LL') %></p>
                        <span class="location">
                            <img src="/images/icons/pin.svg" alt="pinpoint">
                            <span class="distance"><%= user.location%>km</span> away from you
                        </span>
                    </div>
                </div>
            </a>
          <% }%>
    <% }else{ %>
            <span class="search-results">No matches where found</span>
    <% } %>





    </section>

</main>
<!--{{users}}-->
</body>